@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@300;400;600;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-light-bg: #f3f4f6;
  --color-dark-text: #111827;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-light-bg);
  color: var(--color-dark-text);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-outfit);
}

.huge-text {
  font-size: min(18vw, 300px);
  line-height: 0.8;
  letter-spacing: -0.05em;
}

.glass {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
